.about-services {

	// .about-services__body

	&__body {
		border-radius: 16px;
		border: 1px solid var(--white);
		background: var(--light-gray);

		@include _992 {
			display: grid;
			grid-template-columns: 40% auto;
		}
	}

	// .about-services__list

	&__list {
	}

	// .about-services__item

	&__item {
		&:not(:last-child) {
			border-bottom: 1px solid var(--white);
		}
	}

	&__item:first-child &__target {
		border-radius: 16px 16px 0 0;
		@include _992 {
			border-radius: 16px 0 0 0;
		}
	}

	&__item:last-child &__target {
		border-radius: 0 0 16px 16px;
		@include _992 {
			border-radius: 0 0 0 16px;
		}
	}

	// .about-services__target

	&__target {
		background: transparent;

		display: flex;
		align-items: center;
		justify-content: space-between;

		text-align: left;

		width: 100%;

		padding: 24px 12px 24px 24px;

		font-size: 20px;
		font-weight: 600;
		line-height: 130%;
		text-transform: uppercase;

		transition: background .3s ease, color .3s ease;

		stroke: var(--black);

		svg {
			flex: 0 0 24px;
			fill: transparent;
			@include _992 {
				transform: rotate(-90deg);
			}

			transition: stroke .2s ease, transform .2s ease;
		}
		
		&._active {
			background: var(--accent);
			color: var(--white);
			stroke: var(--white);
			svg {
				transform: scaleY(-1);
			}
			@include _992 {
				svg {
					transform: rotate(-90deg);
				}
			}
		}
	}

	// .about-services__descr

	&__target._active + &__descr {
		grid-template-rows: 1fr;
		padding: 16px;
	}

	&__descr {
		display: grid;
		grid-template-rows: 0fr;

		padding: 0 16px;

		transition: grid-template-rows .3s ease, padding .2s ease;

		> * {
			overflow: hidden;
		}

		p:not(:first-child) {
			padding-top: 16px;
		}

		@include _992 {
			display: none;
		}
	}

	// .about-services__list-descr

	&__list-descr {

		padding: 16px;
		position: relative;

		transition: min-height .3s ease;

		display: none;
		@include _992 {
			display: block;
		}

		// .about-services__list-descr--item

		&--item {
			position: absolute;
			left: 16px; top: 16px;
			width: calc(100% - 16px - 16px); //height: calc(100% - 16px - 16px);

			transition: opacity .3s ease, visibility .3s ease;
			opacity: 0; visibility: hidden;

			p:not(:first-child) {
				padding-top: 16px;
			}

			font-size: 1.25rem;
			font-weight: 400;
			line-height: 130%;

			&._active {
				opacity: 1; visibility: visible;
				position: static;
				width: auto;
			}
		}
	}
}
